<html>
  <body>

    <header>
      <nav>
        <button class="boton-logout" routerLink="/">Logout</button>
        <button class="boton-explorador" routerLink="/explorador-archivos">Explorador de archivos</button>
      </nav>
    </header>

    <div class="container">
      <h2>INPUT</h2>

      <textarea [(ngModel)]="commandInput" placeholder="hola mundo"></textarea>

      <div class="buttons">
        <button (click)="executeCommand()">Ejecutar...</button>
        <input type="file" accept=".smia" (change)="loadFile($event)" />
      </div>

      <div class="output">
        <h2>OUTPUT</h2>
        <textarea readonly [value]="commandOutput"></textarea>
      </div>
    </div>
    
  </body>
</html>


